.jumbotrons {
    height: 200px;
    background: #eee;
    padding: 50px 0;
}
.jumbotrons button {
    margin-top: 60px;
}
.container {
    padding: 20px 250px !important;
}
.form-box {
    padding-bottom: 20px; 
}
.vote-count{
    display: block;
    width: 14px;
}
.list-style li {
    margin-top: 15px;
}
.cancelbtn{
    margin-left: 15px;
}